<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<!-- Inserto cabecera -->

<head th:include="fragments/base.html::head"></head>

<!---------------------->

<body>
    <div th:replace="fragments/base.html::top-section"></div>
    <hr/>

    <h3 th:if="${event == null}">Event requested does not exist</h3>
    <div th:if="${event != null}">
        <h3 th:text="${event.overview}"></h3>
        <table class="table">
            <tr>
                <th>Detailed description</th>
                <td th:text="${event.description}"></td>
            </tr>
            <tr>
                <th>Capacity</th>
                <td th:text="${event.capacity}"></td>
            </tr>
            <tr>
                <th>Date and time</th>
                <td th:text="${detailedDateFormat.format(event.date)}"></td>
            </tr>
            <tr th:if="${session.loggedUser} != null">
                <th>Actions</th>
                <td th:include="fragments/base.html::userActions"></td>
            </tr>
            <tr th:if="${session.loggedUser} != null and ${session.loggedUser.admin}">
                <th>Admin actions</th>
                <td th:include="fragments/base.html::adminActions"></td>
            </tr>
            <tr th:if="${session.loggedUser} != null and ${session.loggedUser.superadmin}">
                <th>Superadmin actions</th>
                <td th:include="fragments/base.html::superadminActions"></td>
            </tr>
        </table>
    </div>
    <hr/>
    <div th:include="fragments/base.html::buttonBack"></div>
</body>
</html>