<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<!-- Inserto cabecera -->

<head th:insert="fragments/base.html::head"></head>

<!---------------------->

<body>
    <h1 th:text="${title}"></h1>
    <hr/>

    <h3 th:if="${event == null}">Event requested does not exist</h3>
    <div th:if="${event != null}">
        <h3 th:text="${event.overview}"></h3>
        <table class="table">
            <tr>
                <th>Detailed description</th>
                <td th:text="${event.description}"></td>
            </tr>
            <tr>
                <th>Capacity</th>
                <td th:text="${event.capacity}"></td>
            </tr>
            <tr>
                <th>Date and time</th>
                <td th:text="${event.date}"></td>
            </tr>
        </table>
    </div>
</body>
</html>