<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<!-- Inserto cabecera -->

<head th:insert="fragments/base.html::head"></head>

<!---------------------->

<body>
    <h1 th:text="${title}"></h1>
    <table class="table">
        <thead>
            <tr>
                <th>
                    ID
                </th>
                <th>
                    Name
                </th>
                <th>
                    Detailed description
                </th>
                <th>
                    Capacity
                </th>
                <th>
                    Date
                </th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td th:text="${event.id}"></td>
                <td th:text="${event.name}"></td>
                <td th:text="${event.overview}"></td>
                <td th:text="${event.capacity}"></td>
                <td th:text="${event.date}"></td>
            </tr>
        </tbody>
    </table>
</body>
</html>