<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<!-- Inserto cabecera -->

<head th:include="fragments/base.html::head"></head>

<!---------------------->

<body>
    <div th:replace="fragments/base.html::top-section"></div>
    <hr/>

    <form th:action="@{/events/list}">
        <label for="input_overview">Filter by event overview: </label>
        <input type="text" id="input_overview" name="overviewLike" th:value="${overviewLike}"/>
        <input type="submit" id="btn_filter" value="Filter"/>
        <button type="button" id="btn_reset" th:if="${isFiltered}">Reset</button>
    </form>

    <div th:if="${eventList.isEmpty()}">
        <hr/>
        <p>There are no upcoming events</p>
    </div>
    <table th:if="!${eventList.isEmpty()}" class="table">
        <thead>
            <tr>
                <th>
                    Overview of the event
                </th>
                <th>
                    Capacity (available seats)
                </th>
                <th>
                    Date and time
                </th>
                <th>
                    Actions
                </th>
                <th th:if="${session.loggedUser} != null and ${session.loggedUser.admin}">
                    Admin actions
                </th>
                <th th:if="${session.loggedUser} != null and ${session.loggedUser.superadmin}">
                    Superadmin actions
                </th>
            </tr>
        </thead>
        <tbody>
            <tr th:if="${eventList.size() > 0}" th:each="event, iterator : ${eventList}">
                <!--${overviewLike.isEmpty()} ? '' : ${event.overview.replace(overviewLike, '<span class=&quot;text-danger&quot;>' + overviewLike + '</span>' )}-->
                <td th:id="'event-' + ${iterator.index}" th:text="${event.overview}"></td>
                <td th:class="(${event.capacity} == 0) ? 'text-danger' : ''" th:text="(${event.capacity} > 0) ? ${event.capacity} : 'FULL'"></td>
                <td th:text="${dateFormat.format(event.date)}"></td>
                <td
                    th:include="fragments/base.html::userActions">
                </td>
                <td th:if="${session.loggedUser} != null and ${session.loggedUser.admin}"
                    th:include="fragments/base.html::adminActions">
                </td>
                <td th:if="${session.loggedUser} != null and ${session.loggedUser.superadmin}"
                    th:include="fragments/base.html::superadminActions">
                </td>
            </tr>
        </tbody>
    </table>

    <hr/>

    <a th:if="!${eventList.isEmpty()} and ${session.loggedUser} != null" th:href="@{/users/signdown-event}" class="text-danger">Sign down from an event</a>

    <script th:if="${isFiltered}" type="text/javascript">
        var filterTextBox = $('#input_overview');
        var filterBtn = $('#btn_filter');
        var resetBtn = $('#btn_reset');
        resetBtn.click(function() {
            filterTextBox.val("");
            filterBtn.click();
        });

        var events = $('*[id^="event-"]');


        // Colorear en rojo la búsqueda
        events.each(function(index) {
            var searchMask = filterTextBox.val();
            var regEx = new RegExp(searchMask, "ig");

            var eventOverviewHighlight = $(this).html().replace(regEx, function(str) { return '<span class="text-highlight-search">' + str + '</span>' });
            $(this).html(eventOverviewHighlight);
        });

    </script>
</body>
</html>