<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<!-- Inserto cabecera -->

<head th:insert="fragments/base.html::head"></head>

<!---------------------->

<body>
    <h1 th:text="${title}"></h1>
    <form th:action="@{/events/list}">
        <label for="input_overview">Filtrar por nombre: </label>
        <input type="text" id="input_overview" name="overviewLike" th:value="${overviewLike}"/>
        <input type="submit" id="btn_filter" value="Filter"/>
        <button type="button" id="btn_reset" th:if="${isFiltered}">Reset</button>
    </form>
    <table class="table">
        <thead>
            <tr>
                <th>
                    Overview of the event
                </th>
                <th>
                    Capacity
                </th>
                <th>
                    Date and time
                </th>
                <th>
                    Actions
                </th>
            </tr>
        </thead>
        <tbody>
            <tr th:if="${eventList.isEmpty()}">
                <td colspan="4">There are no upcoming events</td>
            </tr>
            <tr th:if="${eventList.size() > 0}" th:each="event, iterator : ${eventList}">
                <!--${overviewLike.isEmpty()} ? '' : ${event.overview.replace(overviewLike, '<span class=&quot;text-danger&quot;>' + overviewLike + '</span>' )}-->
                <td th:id="'event-' + ${iterator.index}" th:text="${event.overview}"></td>
                <td th:text="${event.capacity}"></td>
                <td th:text="${event.date}"></td>
                <td>
                    <a th:href="@{/events/details(eventId=${event.id})}">Details</a>
                    <a th:href="@{/events/signup(eventId=${event.id})}" class="text-success">Sign up</a>
                    <a th:href="@{/events/signdown(eventId=${event.id})}" class="text-danger">Sign down</a>
                </td>
            </tr>
        </tbody>
    </table>

    <script th:if="${isFiltered}" type="text/javascript">
        var filterTextBox = $('#input_overview');
        var filterBtn = $('#btn_filter');
        var resetBtn = $('#btn_reset');
        resetBtn.click(function() {
            filterTextBox.val("");
            filterBtn.click();
        });

        var events = $('*[id^="event-"');


        // Colorear en rojo la búsqueda
        events.each(function(index) {
            var searchMask = filterTextBox.val();
            var regEx = new RegExp(searchMask, "ig");
            var replaceMask = '<span class="text-danger">' + filterTextBox.val() + '</span>';

            var eventOverviewHighlight = $(this).html().replace(regEx, replaceMask);
            $(this).html(eventOverviewHighlight);
        });

    </script>
</body>
</html>