<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:fragment="head">
    <meta charset="UTF-8">
    <title th:text="${title}"></title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous"/>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/css/style.css"/>
</head>


<div th:fragment="top-section" class="top-section">
    <h1 th:text="${title}"></h1>
    <form th:replace="fragments/base.html::user-box"></form>
</div>

<form th:fragment="user-box" class="user-box" method="GET">
    <div class="user-box" th:if="${session.loggedUser == null}">
        <button th:formaction="@{/users/login}" class="btn btn-secondary">Login</button>
        <button th:formaction="@{/users/register}" class="btn btn-primary">Register</button>
    </div>
    <div class="user-box" th:if="${session.loggedUser != null}">
        <p class="logged-as" th:text="'Logged as: ' + ${session.loggedUser.username}"></p>
        <button th:formaction="@{/users/logout}" class="btn btn-secondary">Logout</button>
    </div>
</form>

<div th:fragment="buttonBack">
    <a th:href="@{/events/list}" class="btn btn-primary">Go back to event list</a>
</div>


<td th:fragment="userActions">
    <a th:if="${#httpServletRequest.requestURI.contains('details')} == false" th:href="@{/events/details(eventId=${event.id})}">Details</a>
    <a th:if="${session.loggedUser} != null" th:href="@{/users/signup-event(eventId=${event.id})}" class="text-success">Sign up</a>
</td>

<td th:fragment="adminActions">
    <form class="event-actions" th:action="@{/users/confirm-assistance}" method="GET">
        <a href="#" onclick="$(this).closest('form').submit();">Check user</a>
        <input type="hidden" th:name="eventId" th:value="${event.id}"/>
    </form>
</td>

<td th:fragment="superadminActions">
    <form class="event-actions" th:action="@{/events/edit}" method="GET">
        <a href="#" onclick="$(this).closest('form').submit();">Edit</a>
        <input type="hidden" th:name="eventId" th:value="${event.id}"/>
    </form>
    <form class="event-actions" th:action="@{/events/list-registered-users}" method="GET">
        <a href="#" onclick="$(this).closest('form').submit();" >List registered users</a>
        <input type="hidden" th:name="eventId" th:value="${event.id}"/>
    </form>
    <form class="event-actions" th:action="@{/events/delete}" method="POST">
        <a href="#" onclick="$(this).closest('form').submit();" class="text-danger">Remove</a>
        <input type="hidden" th:name="eventId" th:value="${event.id}"/>
    </form>
</td>

<script th:fragment="remove-field-error-class-on-focus" type="text/javascript">
    $('input').each(function() {
        $(this).focus(function() {
            $(this).removeClass('field-error');
        });
    });
</script>

<script th:fragment="highlight-search" type="text/javascript">
    function highlightSearch(fieldName) {
        var filterTextBox = $('#input_' + fieldName);
        var filterBtn = $('#btn_filter');
        var resetBtn = $('#btn_reset');
        resetBtn.click(function () {
            filterTextBox.val("");
            filterBtn.click();
        });

        var items = $('*[id^="item-"]');

        items.each(function() {
            var searchMask = filterTextBox.val();
            var regEx = new RegExp(searchMask, "ig");

            var highlightedField = $(this).html().replace(regEx, function (str) {
                return '<span class="text-highlight-search">' + str + '</span>'
            });
            $(this).html(highlightedField);
        });
    }
</script>

</html>