<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="${titulo}"></title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous"/>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <!--<link rel="stylesheet" type="text/css" href="/css/estilos.css"/>-->
</head>
<body>
    <h1 th:text="${titulo}"></h1>
    <table class="">
        <thead>
            <tr>
                <th>
                    ID
                </th>
                <th>
                    Nombre
                </th>
                <th>
                    Apellidos
                </th>
                <th>
                    E-Mail
                </th>
                <th>
                    Creado
                </th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="cliente,iterator : ${listaClientes}">
                <td th:text="${cliente.getId()}"></td>
                <td th:text="${cliente.getNombre()}"></td>
                <td th:text="${cliente.getApellidos()}"></td>
                <td th:text="${cliente.getEmail()}"></td>
                <td th:text="${cliente.getCreado()}"></td>
            </tr>
        </tbody>
    </table>
</body>
</html>