body {
    margin: 25px 25px 25px 25px;
}

form {
    margin-bottom: 30px;
}

form.superadmin-actions {
    margin-bottom: 0px;
    display: inline-block;
}

ul {
    margin-top: 30px;
}

a {
    padding: 10px;
}

.field-error {
    border: brown;
    border-style: solid;
}