<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<!-- Inserto cabecera -->

<head th:include="fragments/base.html::head"></head>

<!---------------------->

<body>
<h1 th:text="${title}"></h1>
<hr/>

<form th:action="@{/user/store-register}" method="POST" th:object="${register}">
    <div class="form form-group">
        <label for="input_name">Name: </label>
        <input type="text" id="input_name" th:field="*{name}" th:class="'form-control' + ' '+ (${#fields.hasErrors('name')} ? 'field-error')"/>

        <br/>

        <label for="input_surname">Surname: </label>
        <input type="text" id="input_surname" class="form-control" th:field="*{surname}" th:class="'form-control' + ' '+ (${#fields.hasErrors('surname')} ? 'field-error')"/>

        <br/>

        <label for="input_age">Age: </label>
        <input type="text" id="input_age" class="form-control" th:field="*{age}" th:class="'form-control' + ' '+ (${#fields.hasErrors('age')} ? 'field-error')"/>

        <br/>

        <label for="input_phonenumber">Phone number: </label>
        <input type="text" id="input_phonenumber" class="form-control" th:field="*{phoneNumber}" th:class="'form-control' + ' '+ (${#fields.hasErrors('phoneNumber')} ? 'field-error')"/>

        <input type="hidden" id="input_eventid" th:field="*{eventId}"/>

        <br/>

        <input type="submit" value="Sign up to this event" class="btn btn-primary"/>
        <br/>

        <ul th:if="${#fields.hasErrors('*')}" class="alert alert-danger">
            <li th:each="err : ${#fields.detailedErrors('*')}" th:text="${err.message}"></li>
        </ul>
    </div>
</form>

<div th:include="fragments/base.html::backToEventList"></div>


<hr/>
</body>
</html>