<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<!-- Inserto cabecera -->

<head th:insert="fragments/base.html::head"></head>

<!---------------------->

<body>
<h1 th:text="${title}"></h1>
<hr/>

<form th:action="@{/user/perform-signdown}" method="POST">
    <div class="form form-group">
        <label for="input_token">Input your token: </label>
        <input type="text" id="input_token" name="token"/>

        <input type="submit" value="Send" class="btn btn-primary"/>
        <br/>
    </div>
</form>

<p th:if="${error}" th:text="${errorText}" th:class="text-danger"></p>
<p th:unless="${error}" th:text="${successText}" th:class="text-success"></p>
<hr/>
<div th:include="fragments/base.html::buttonBack"></div>
</body>
</html>