<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<!-- Inserto cabecera -->

<head th:include="fragments/base.html::head"></head>

<!---------------------->

<body>
<h1 th:text="${title}"></h1>
<hr/>

<form th:action="@{/user/store-event-registration}" method="POST" th:object="${register}">
    <div class="form form-group">

        <input type="hidden" id="input_eventid" th:field="*{eventId}"/>

        <br/>

        <input type="submit" value="Sign up to this event" class="btn btn-primary"/>
        <br/>

        <ul th:if="${#fields.hasErrors('*')}" class="alert alert-danger">
            <li th:each="err : ${#fields.detailedErrors('*')}" th:text="${err.message}"></li>
        </ul>
    </div>
</form>
<hr/>
<div th:include="fragments/base.html::buttonBack"></div>

</body>
</html>